.homepage-logo{
    float: left;
    margin-top: 1vh;
    margin-left: 1vh;
    width: 20vh;
    border-radius: 5px;
}

.homepage-header{
    height: 10vh;
    position: relative;
}

.home-nav{
    list-style-type: none;
    display: flex;
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1vh;
    padding: 0;
    z-index: 2;
}

.home-nav li {
    padding-left: 10px;
    padding-right: 10px;   
}

.reviews{
    list-style-type: none;
    display: flex;
    margin: 0;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    justify-content: center;
}

.reviews-container{
    height:25vh;
}
.features-container{
    margin-top: 200px;
    height: 90vh;
}

@media screen and (max-width: 1137px){

    .personH{
        height: 30% !important;
    }
    .reviews-container{
        margin-top: 40vh;
    }

    .reviews{
        list-style-type: none;
        display: block;
        
        top: 80%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0;
        justify-content: center;
    }

    .reviews li div{
        padding: 20px 50px 100px 50px;
        width: 20vh;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border: solid black;
        border-width: 0;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .reviews li {
        padding-bottom: 5%;
        position: relative;
        text-align: center;
    }

    .features-container{
        margin-top: 20vh;
        height: '200vh'
    }



    .scroll{
        display: none;
    }
    
}

.personH{
    height: 70%;
    border: none;
    position: relative;
    top:-50px;
    left: 10%;
}

.login-register input{
    border-radius: 5px;
    border-width: 1px;
    padding: 2px;
}

.login-register input:focus{
    outline: none;
}

.reviews li {
    padding-left: 5%;
    padding-right: 5%;   
    text-align: center;
}

.reviews li div{
    padding: 20px 50px 100px 50px;
    width: 20vh;
    background-color: white;
    border: solid black;
    border-width: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-item{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    height: 20px;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    position: relative;
  }

  .nav-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .nav-item:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .top-section{
      /* background-color: #116466; */
      background: linear-gradient(217deg, #8860D0, #84CEEB 70.71%),
            linear-gradient(127deg, #5AB9EA, #C1C8E4 70.71%),
            linear-gradient(336deg, #C1C8E4, #8860D0 70.71%);
      height: 65vh;
  }

  footer{
      margin-top: 20vh;    
      background-color: cadetblue;
      height: 170px;
  }

  .login-register{

    padding: 20px 50px 20px 50px;
    width: 200px;
    background-color: white;
    border: solid black;
    border-width: 0;
    border-radius: 3px;
    float: right;
    margin-right: 20vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leftHR, .rightHR{
    position: absolute;
    width: 15%;
    
}

.center-design{
    position: absolute;
    padding-top: 30px;
    width: 100%;
}

.circle{
    height: 20px;
    width: 20px;
    
    border-color: black;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    animation: rotate 1s infinite;
}

@keyframes rotate{
    0% {border-style: solid;}
    25% {border-style: dashed}
    50% {border-style: dotted}
    75% {border-style: dashed}
    100% {border-style: solid}
}

.leftHR{
    left: 30%;
}

.rightHR{
    right: 30%;
    bottom: 43px;
}

.scroll{
    position: relative;
    animation: upDown 2s infinite;
}

@keyframes upDown {
    0% {top: -20px}
    50% {top: 0}
    100% {top: -20px}
}

.lg{
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border-style:solid;
    border-color: #F64C72;
    color: #F64C72;
    font-weight:bolder;
}

.gl{
    background-color: #F64C72;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border-style:solid;
    border-color: #F64C72;
    font-weight:bolder;
}

.lg:hover{
    background-color: #F64C72;
    color: white;
    transition: 0.5s;
}

.gl:focus{
    outline: none;
}

.isfar, .farhan{
    font-size: 7px;
    position: relative;
    top: 10px;
    z-index: 2;
}

.isfar h1, .farhan h1{
    font-weight:300;
}

.isfar h2, .farhan h2{
    font-weight:200;
}

.isfar{
    float: left;
    margin-left: 10px;
}

.farhan{
    float: right;
    margin-right: 10px;
}

.socialIcon{
    font-size: 20px !important;
    color: rgb(40, 103, 178);
    
}