

.plat-nav-item{
    display: inline-block;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    height: 20px;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    position: relative;
  }

  .plat-nav-item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;      
  }

  .container {
    padding: 20px 50px 20px 50px;
    width: 200px;
    background-color: white;
    border: solid black;
    border-width: 0;
    border-radius: 3px;
    margin-right: 20vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
  }

  .tab-container {
    padding: 20px 50px 20px 50px;
    width: 200px;
    background-color: white;
    border: none;
    float: left;
    margin-right: 20vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    background-color: inherit;
  }

  .friends-btn {
      width: 100%;
      display: inline-block;
      float: left;
      background-color: transparent;
      border: none;
      transition: 0.3s;
  }

  .friends-btn:hover {
      cursor: pointer;
      background-color: slategrey;
  }

  .friends-btn:focus {
      outline: none;
  }

.active {
    border-right: solid 1px;
}
/* 
  .plat-nav-item:hover:after { 
    width: 100%; 
    left: 0; 
  } */